.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/target/

# Mac
.DS_Store

# IDEA
.idea/*
.idea/
*/target/
*.class
.settings
*.classpath
rebel.xml